@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', 'sans';
}
body{
  text-align: center;
  align-items: center;
  
  /* background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%); */
}
.searchPage{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  grid-auto-rows: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e4e6eb;
}

.songCards{
  position: relative;
  width: 200px;
  height: 250px;
  
  border-radius: 5px;
  /* font-weight: ; */

  background-color: red;
  white-space: nowrap;
  /* overflow: hidden; */
  text-align: center;
  text-overflow: ellipsis;
  align-items: center;
  margin: 10px;
  color: white;
}

.songArt{
  display: flex;
  border-radius: 5px;

  justify-content: center;
  margin-left: auto;  
  margin-right: auto;  
  width: 150px;
}

.searchField{
  vertical-align: top;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #e4e6eb;
  text-align: center;
  margin: 0.5rem;
  border-radius: 20px;
}

#searchBar:focus{
outline: none;
}

#searchBar{
  border: none;
  background-color: #e4e6eb;
  margin-right: 5rem;
  min-width:  210px;
}

#searchBar input{
  min-height:200px;
}

.formBox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa {
 color: grey;
  margin: 0.5rem;
}



#playlistName{
  position: relative;
  width: 150px;
  margin-top: 200px;
}

.playlistCards{
  display: flex;
  position: relative;
  width: 200px;
  height: 250px;
  
  border-radius: 5px;
  text-decoration: none;
  background-color: red;
  text-align: center;
  margin: 10px;
  color: white;
  z-index: 0;
}

.newPlaylist{
  width: 200px;
  height: 250px;
  background-color: red;
}



.dropContent{
  position: relative;
  min-width: 160px;
  z-index: 1;
}

.dropbtn{
  color: white;
  position: absolute;
  font-size: 2rem;
}


.dropContent.show {
  color: white;
    border: none;
    opacity:100%;
    display: block;
    background-color: black;
    margin-left: 100px;
  }

  .classForm{
    display: flex;
  }



  .allCards{
    background-color: #e4e6eb;
    display: flex;
  }


  .header{
    display: flex;
    color: white;
    justify-content: center;
    height: 50px;
    align-items: center;
    /* font-size: 30px; */
    /* background: linear-gradient(to right, #e96443, #904e95);  */
    background-color: red;

  }
  
  #playlistName{
    color: red;
    position: absolute;
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
  }

  #playlistName:focus {
    outline: none;
  }
.playlist{
  background-color: #e4e6eb;
}
  #playlistHeader{
    color: white;
    /* background: linear-gradient(to right, #e96443, #904e95);  */
    background-color: red;
  }

  #newPlaylist{
    color: red;
    font-size: 20px;
    position: absolute;
    text-align: center;
    margin-left: 25px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    text-align: center;
    border-radius: 20px;
  }

  #newPlaylist:hover{
    background-color: #e4e6eb;
  }

  #newPlaylist:focus{
    background-color: #cdcfd3
    ;
  }

  .icondrop{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    z-index: 8;
    left: 85%;
    bottom: 0;
    background: none;
    border: none;
  }

  .menu{
    position: relative;
    color: #dadce1;
    display: inline-block;
    background-color: #484a4d;
    padding: 20px;
    z-index: 5;
    list-style: none;
    margin: -4px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s ease;
    bottom: 10%;
  }

  .menu:hover{
   background-color: #525357;
  }

  .trackname{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .playlistName{
    position: absolute;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .usersPlaylist{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    margin: 10px;
    color: white;
    z-index: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  .usersPlaylist:hover{
    transform: translateY(-25px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  }

  .logout{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
    color: red;
    font-size: 20px;
    text-align: center;
    width: 110px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
  }

  #logoutxt{
    text-decoration: none;
    color: red;
  }

  .sidebarbtn{
    position: relative;
    border: none;
    display: flex;
    left: 0;
    text-decoration: none;  
    color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    /* justify-items: center; */
    border-radius: 20px;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px ;
  }
  .navbarleft{
    position: absolute;
    left: 0;
  }

  .sidemenu{
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    margin-left: 25px;
    top: 100;
    border: 1px solid #dadce1;;
    z-index: 10;
    border-collapse: collapse;
    transition: 0.4s;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebaruser{
    /* position: absolute; */
    border-top: 1px solid #dadce1;
    margin-bottom: 0;
  }

  
  .logout:hover{
    background-color: #e4e6eb;
  }

  .playlistSongs{
    display: flex;
  
    list-style: none;
  }


  .playlisttext{
    margin-left: 3;
  }


  .playlistart{
    display: flex;
    height: 500px;
    width: 500px;
    margin: 10px;
  }

  .playlistSongsCon{
    display: flex;
    margin: 2px;
    align-items: center;
  }

  .overall{
    position: relative;
    display: grid;
    justify-content: center;
  }

  .playlistartist{
    display: flex;
  }
  .carouselArt{
    /* visibility: visible; */
    /* transition: opacity 300ms; */
    display: block;
  }

  .hide{
    /* visibility: hidden; */
    opacity: 0;
  }
  .accountpage{
    border-radius: 20px;
    position: relative;
    background-color: white;
    bottom: 50;
    display: flex;
    border:  1px solid #dadce1;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    justify-content: center;
    height: 500px;
  }
  #username{
    text-indent: 5px;
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    background-color: #dadce1;
  }
  #password{
    text-indent: 5px;
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    background-color: #dadce1;
  }

  #username:focus{
    outline: none;
  }

  #password:focus{
    outline: none;
  }

 
  .accountcon{
    background: linear-gradient(to right, #ff9966, #ff5e62); 
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #accountheader{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .formheadercon{
    position: absolute;
    display: flex;
    top: 0;
    border-bottom: 1px solid #dadce1;
    width: 100%;
   
  }
  .accounttxt{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  #formbutton{
    color: white;
    border: none;
    background: linear-gradient(to right, #ff9966, #ff5e62); 
    height: 50px;
    width:  100%;
    font-size: 20px;
    border-radius: 30px;
  }

  #formbutton:hover{
    filter: brightness(1.1);
  }
  #formbutton:focus{
    filter: brightness(.9);
    transform: translateY(1px);
  }
  #linktootherpage{
    color: #484a4d;
  }

 .carousel{
   position: relative;
   display: block;
   /* display: flex; */
   justify-content: center;
   align-items: center;
   text-align: center;

 }

 .carouseltrack{
  display: flex;
  position: relative;
 }

 .carouselCon{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
 .arrow-left {
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-45deg);
}
 .arrow-right {
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(135deg);
}

#formbuttonWel{
  color: white;
  border: none;
  background: linear-gradient(to right, #ff9966, #ff5e62); 
  height: 50px;
  width:  150px;
  font-size: 20px;
  border-radius: 30px;
}

#formbuttonWel:hover{
  filter: brightness(1.1);
}
#formbuttonWel:focus{
  filter: brightness(.9);
  transform: translateY(1px);
}